.views-scroll-pager {
  height: 100px;
  overflow: hidden;
  width: 100%;
}

.views-scroll-pager.horizontal-only {
  height: auto;
  max-height: 100px;
}

.views-scroll-pager .pager-container .item-list {
  display: inline-block;
  white-space: nowrap;
  margin-top: 0;
  padding: 0;
}

.views-scroll-pager .pager-container .item-list ul.pager {
  padding: 0;
  margin-top: 0;
}

.views-scroll-pager .pager-container .item-list ul.pager li {
  display: inline-block;
}

.views-scroll-pager .pager-container .item-list ul.pager li.pager-current {
  background: #f6f6f2;
}

.views-scroll-pager .total-pages {
  text-align: right;
  color: #666666;
  font-size: 0.821em;
}

.views-scroll-pager .jspContainer {
  height: 3em !important;
}

.views-scroll-pager .jspPane {
  margin: 0 !important;
}

.views-scroll-pager .jspVerticalBar {
  display: none;
}

.views-scroll-pager .jspHorizontalBar {
  height: 8px;
  background: transparent;
}

.views-scroll-pager .jspHorizontalBar .jspTrack {
  height: 3px;
  background: #dddddd;
}

.views-scroll-pager .jspHorizontalBar .jspDrag {
  background: #666666;
  min-width: 9px;
}

.views-scroll-pager .jspHorizontalBar .jspDrag .jspDragLeft {
  height: 8px;
  min-width: 9px;
}

.views-scroll-pager .jspCorner {
  display: none;
}
